<!DOCTYPE html>
<html>
  <head>
    <title>Deployment Disabled</title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      * {
        font-family: "Outfit", sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/ec6685f89f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    style="background-image: url('src/assets/logo.svg');"
    class="bg-blue-50 bg-cover overflow-x-hidden"
  >
    <main
      class="container mx-auto py-20 lg:py-10 flex flex-col lg:h-screen min-h-[100vh] justify-between items-center"
    >
      <nav>
        <img
          src="https://res.cloudinary.com/dgqfojhx4/image/upload/v1686925832/maintenance/brimble_kbw1wp.svg"
          alt="logo"
          class="w-72 h-14 lg:w-28 lg:h-7"
        />
      </nav>

      <section class="py-32 lg:py-20 lg:w-[430px] w-full">
        <section class="bg-white lg:px-5 p-10 rounded-2xl">
          <div>
            <img
              src="https://res.cloudinary.com/dgqfojhx4/image/upload/v1687161049/maintenance/protected_rigx1b.svg"
              alt="protected site"
              class="w-full"
            />
          </div>
          <div class="flex fex-col justify-center">
            <h2
              class="text-4xl lg:text-2xl py-14 lg:py-10 text-center leading-normal font-medium max-w-lg lg:max-w-sm"
            >
              This project has password protection enabled
            </h2>
          </div>
          <form action="/authorize-login" method="POST">
          {{#if error}}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative pb-4" role="alert">
            <span class="block sm:inline">{{ error }} </span>
          </div>
          <br/>
          {{/if}}
            <div>
               <input type="hidden" name="domain" id="domain" value="">
              <input
                placeholder="Enter Password"
                type="password"
                required="true"
                name="password"
                class="px-5 text-2xl p-2 leading-tight w-full h-24 lg:h-14 bg-blue-50 rounded-lg placeholder:text-gray-300 placeholder:text-3xl lg:placeholder:text-base"
              />
            </div>
  
            <div class="pt-20 lg:pt-12 pb-2">
              <svg
                id="spinner"
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white hidden"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              <button
                type="submit"
                id="submitBtn"
                class="bg-blue-500 text-white font-medium text-3xl lg:text-base w-full h-24 lg:h-16 rounded-lg"
              >
                <span id="submitText">Continue</span>
              </button>
            </div>
          </form>
        </section>

        <div class="flex py-28 lg:py-10 justify-center">
          <p
            class="text-4xl lg:text-lg text-center max-w-xl lg:max-w-xs leading-normal text-gray-600"
          >
            Don’t know the password? kindly contact  the site owner to help
            out!.
          </p>
        </div>
      </section>

      <footer class="px-5 w-full">
        <hr />
        <div class="lg:flex lg:justify-between pt-14 lg:py-5">
          <ul
            class="text-4xl lg:text-sm text-gray-600 place-items-center grid grid-cols-4 lg:w-4/12 w-full"
          >
            <li><a href="https://brimble.io">Home</a></li>
            <li><a href="https://docs.brimble.io">Docs</a></li>
            <li><a href="https://discord.com/invite/XBCBwbXQJQ">Community</a></li>
            <li><a href="https://brimble.io/pricing">Pricing</a></li>
          </ul>

          <div
            class="grid grid-cols-3 lg:flex place-items-center lg:justify-between lg:w-96 w-full pt-12 lg:py-0"
          >
            <div
              class="flex items-center lg:w-64 p-3 border-gray-100 border-2 rounded-xl"
            >
              <img
                src="https://res.cloudinary.com/dgqfojhx4/image/upload/v1686925832/maintenance/status_g4sksm.svg"
                alt="green circle"
                class="h-10 w-10 lg:w-3 lg:h-3"
              />
              <a
                target="_blank"
                href="https://brimbleio.statuspage.io/"
                class="pl-3 text-xs lg:block hidden"
                >Status : All systems work Perfectly</a
              >
            </div>

            <div
              class="h-10 w-10 flex items-center justify-center rounded-full bg-white"
            >
              <a target="_blank" href="https://github.com/brimblehq"
                ><i
                  class="fa-brands fa-github text-blue-600 lg:text-2xl text-5xl"
                ></i
              ></a>
            </div>

            <div
              class="h-10 w-10 flex items-center justify-center rounded-full bg-white"
            >
              <a target="_blank" href="https://twitter.com/brimblehq"
                ><i
                  class="fa-brands fa-twitter text-blue-600 lg:text-lg text-5xl"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
      <script>
      const currentUrl = window.location.protocol + '//' + window.location.host;
      document.getElementById('domain').value = window.location.hostname;
    </script>
</html>
